body {
    background-color: azure;
}

.insertDetails {
    border: 1px solid black;
    background-color: rgb(195, 216, 216);
}

#textP {}

.subtitle {
    color: rgb(23, 23, 103);
    padding: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}