body {
    background-color: rgb(245, 249, 249);
}

.firs_continer {
    background-color: antiquewhite;
    padding: 3px;
    border: 1px solid black;
    margin-top: 10px;
}

.hero {
    position: relative;
    height: 400px;
    overflow: hidden;
}

.hero-image {
    background-image: url("../images/mainpage_hero.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    border-bottom: 50px;
}

.insertDetails {
    margin: 4px;
    border: 1px solid black;
    background-color: rgb(232, 229, 209);
    padding: 8px;
}

.description {
    color: rgb(23, 23, 103);
    padding: 6px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#image-suport {
    padding: 5px;
}

.name {
    color: rgb(24, 38, 61);
    padding: 6px;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
}