body {
    background-color: #f4f4f4;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
  }

.separator {
    border: 2px solid #737272;
    margin: 10px 0;
  }

  /* Navbar section styles Start */
.navbar-brand {
    font-size: 2.5rem;
}

.navbar-brand img {
    margin-right: 5px;
    height: 3.5rem;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-nav .nav-link {
    font-size: 1.5rem;
    transition: 0.2s; 
}

.navbar-nav .nav-link:hover {
    background-color: coral;
    color: black;
    font-style: italic;
    border-bottom: 0.3rem solid #1b1b1c;
}
/* Navbar section styles End */

/* Hero and AboutMe section styles Start */
.hero {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 25px;
    border: 2px solid #d28bd7;
    box-sizing: border-box;
}




/* Adjust the height for small screens */
@media (max-width: 1440px) {
    .hero img {
        height: 40vh;
    }
}
/* Hero and AboutMe section styles End */


