body {
    background-color: #f4f4f4;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
  }

.separator {
    border: 2px solid #737272;
    margin: 10px 0;
  }

  /* Navbar section styles Start */
.navbar-brand {
    font-size: 2.5rem;
}

.navbar-brand img {
    margin-right: 5px;
    height: 3.5rem;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-nav .nav-link {
    font-size: 1.5rem;
    transition: 0.2s; 
}

.navbar-nav .nav-link:hover {
    background-color: coral;
    color: black;
    font-style: italic;
    border-bottom: 0.3rem solid #1b1b1c;
}
/* Navbar section styles End */

/* Hero and AboutMe section styles Start */
.hero {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 25px;
    border: 2px solid #d28bd7;
    box-sizing: border-box;
}

div.relative {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
  } 
  
  div.absolute {
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;
    border: 3px solid #73AD21;
  }

/* Adjust the height for small screens */
@media (max-width: 1440px) {
    .hero img {
        height: 40vh;
    }
}
/* Hero and AboutMe section styles End */


/* Recipe section styles Start */
.todayrecipecards {
    background-color: antiquewhite;
    padding: 20px;
    margin: 20px 0;
    border: 2px solid #373737;
    box-sizing: border-box;
    border-radius: 5px;
}

.todayrecipeheader {
    margin: 0;
    font-size: 2.5rem;
    font-weight: bold;
    color: #1b1b1c;
    font-style: italic;
}

#todaymenutime {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #1b1b1c;
    font-style: italic;
}
/*update the ID recipe1, recipe2, recipe3 and recipe4 */
#recipe1, #recipe2, #recipe3, #recipe4 {
    margin: 0;
    font-size: 1.5rem;
    border: 1px solid #090909;
    border-radius: 5px;
    padding: 10px;
    margin-right:1rem;
    margin-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  #recipe1 img, #recipe2 img, #recipe3 img, #recipe4 img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 25px;
    border: 2px solid #d28bd7;
    box-sizing: border-box;
  }

  #recipe1 h4, #recipe2 h4, #recipe3 h4, #recipe4 h4 {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: bold;
}


    #recipe1 h5, #recipe2 h5, #recipe3 h5, #recipe4 h5 {
        margin-top: 0;
        margin-bottom: 10px;
    }

/* Recipe section styles End */
